body {
  background-color: #E7F6FF;
  display: flex;
  justify-content: center;
  font-family: Inter;
}

#root{
  width: 100%;

}

*{
  font-family: Inter;
}

li{
  list-style: none;
}

ul{
  margin: 0;
  padding: 0;
}

.price{
  strong{
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 0px;
  }
}

.wrapper{
  max-width: 1080px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin: 85px auto;
  width: 100%;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 44px 60px;
  border-bottom: 1px solid #EAEAEA;
  
  .headerLeft{
    display: flex;
    align-content: center;
    justify-content: space-around;
    img{
      margin-right: 16px;
    }
    p{
      color: #9D9D9D;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      text-align: left;
      margin: 0px;
    }
    span{
      color: black;
      font-size: 20px;
      font-weight: 700;
      line-height: 24.2px;
      text-align: left;
      text-transform: uppercase;
    }
    .headerInfo{
      display: flex;
      flex-direction: column;
    }
  }

  nav{
    ul{
      display: flex;
      align-content: center;
      justify-content: space-around;
    }
    li{
      margin-left: 32px;
    }
    a{
      text-decoration: none;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .cart span{
      font-weight: 600;
      margin: 0;
    }
    
    span{
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      text-align: left;
      color: #5C5C5C;
      padding-left: 8px;
    }
  }
}

main{
  background-color: #FFFFFF;
  padding: 45px 60px;
  .banner{

  }
  .containerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchContainer{
      border: 1px solid #F3F3F3;
      border-radius: 10px;
      padding: 0 15px;
      img{
        top: 15px;
        left: 18px;
      }

      input{
        font-size: 16px;
        border: none;
        padding: 15px;
        outline: none;
        &::placeholder{
          font-size: 14px;
          font-weight: 400;
          line-height: 16.94px;
          text-align: left;
          color: #C4C4C4;
        }
      }
    }

  }

  h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    text-align: left;
  }
}

.sneakersWrapper{
  ul{
    display: grid;
    grid-gap: 40px;
    grid-template: auto / repeat(4, 1fr) ;
  }
}

.card{
  list-style: none;
  margin-top: 10px;
  border-radius: 40px;
  border: 1px solid #F3F3F3;
  padding: 20px 28px 34px 32px;
  position: relative;
  cursor: pointer;
  transition: box-shadow .2s ease-out, transform .2s ease-out;

  &:hover{
    box-shadow: 0px 14px 30px 0px #0000000D;
    transform: translateY(-5px);
  }

  .cardImg{
    width: 100%;
  }

  .favoriteIcon{
    position: absolute;
    top: 28px;
    left: 28px;
  }

  span{
    color: #BDBDBD;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    text-align: left;
    text-transform: uppercase;
  }

  .addCartContainer{
    display: flex;
    justify-content: space-between;
  }

  .price{
    display: flex;
    flex-direction: column;
  }
}

.nameSneakers{
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  min-width: 150px;
}

.cartContainer{
  position: absolute;
  max-width: 325px;
  width: 100%;
  box-shadow: -10px 4px 24px 0px #0000001A;
  background-color: #FFFFFF;
  right: 0;
  top: 0;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;

  p{
    margin-top: 0;
    max-width: 150px;
  }

  .cartTitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;
    align-items: center;
    span{
      font-size: 24px;
      font-weight: 700;
      line-height: 29.05px;
      text-align: left;
    }
    img{
      cursor: pointer;
      height: 14px;
      width: 14px;
      opacity: .6;
      &:hover{
        opacity: 1;
      }
    }
  }

  .cartItem{
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cartImg{
    max-width: 70px;
  }

  .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  strong{
    text-wrap: wrap;
    max-width: 150px;
    margin-top: 0px;
  }

  .nameSneakers{
    margin-bottom: 8px;
  }

  .descriptionItem{
    width: 100%;
    margin-left: 20px;
  }

  .cartTotal{
    display: flex;
    flex-direction: column;
  }

  ul{
    flex-grow: 1;
  }

  .deleteIcon{
    opacity: .6;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }

  .total, .charge{
    display: flex;
    div{
      width: 100%;
      border-bottom: 1px dashed #DFDFDF;
      margin: 0px 8px;
      flex: 1;
      height: 14px;
    }
  }

  .total{
    margin-bottom: 20px;
  }

  span{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
  }

  .placeOrder{
    width: 100%;
    padding: 18px 0px;
    border-radius: 18px;
    background-color: #9DD458;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: center;
    color: white;
    margin-top: 24px;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    &:hover{
      opacity: .9;
      img{
        right: 34px;
        transform: translateX(3px);
      }
    }
    img{
      position: absolute;
      top: 22px;
      right: 40px;
      transition: transform .1s ease;
    }
  }
}

.overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
}