body {
  background-color: #E7F6FF;
  display: flex;
  justify-content: center;
  font-family: Inter;
}

#root{
  width: 100%;
}

*{
  font-family: Inter;
}

.wrapper{
  max-width: 1080px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin: 85px auto;
  width: 100%;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 44px 60px;
  border-bottom: 1px solid #EAEAEA;
  
  .headerLeft{
    display: flex;
    align-content: center;
    justify-content: space-around;
    img{
      margin-right: 16px;
    }
    p{
      color: #9D9D9D;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      text-align: left;
      margin: 0px;
    }
    span{
      color: black;
      font-size: 20px;
      font-weight: 700;
      line-height: 24.2px;
      text-align: left;
      text-transform: uppercase;
    }
    .headerInfo{
      display: flex;
      flex-direction: column;
    }
  }

  nav{
    ul{
      display: flex;
      align-content: center;
      justify-content: space-around;
    }
    li{
      list-style: none;
      margin-left: 32px;
    }
    a{
      text-decoration: none;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .cart span{
      font-weight: 600;
      margin: 0;
    }
    
    span{
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      text-align: left;
      color: #5C5C5C;
      padding-left: 8px;
    }
  }
}

main{
  background-color: #FFFFFF;
  padding: 45px 60px;
  .banner{

  }
  .containerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchContainer{
      border: 1px solid #F3F3F3;
      border-radius: 10px;
      padding: 0 15px;
      img{
        top: 15px;
        left: 18px;
      }

      input{
        font-size: 16px;
        border: none;
        padding: 15px;
        outline: none;
        &::placeholder{
          font-size: 14px;
          font-weight: 400;
          line-height: 16.94px;
          text-align: left;
          color: #C4C4C4;
        }
      }
    }

  }

  h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    text-align: left;
  }
}

.sneakersWrapper{
  ul{
    display: grid;
    grid-gap: 40px;
    grid-template: auto / repeat(4, 1fr) ;
    margin: 0;
    padding: 0;
  }
}

.card{
  list-style: none;
  margin-top: 10px;
  border-radius: 40px;
  border: 1px solid #F3F3F3;
  padding: 20px 28px 34px 32px;
  position: relative;

  &:hover{
    box-shadow: 0px 14px 30px 0px #0000000D;
    transform: translateY(5px);
  }

  .cardImg{
    width: 100%;
  }

  .favoriteIcon{
    position: absolute;
    top: 28px;
    left: 28px;
  }

  p{
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 0px;
  }

  span{
    color: #BDBDBD;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    text-align: left;
    text-transform: uppercase;
  }

  .addCartContainer{
    display: flex;
    justify-content: space-between;
  }

  .price{
    display: flex;
    flex-direction: column;
  }
}

h2{
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}